body {
    padding: 0px;
    margin: 0px;
    font-family: Arial;
}

p {
    font-family: Goergia;
    font-size: 16px;
}

h1 {
    font-size: 40px;
    width: 704px;
    margin: 0px;
    color: white;
    text-align: center;
}

h1 small {
    font-weight: normal;
    font-size: 24px;
}

h3 {
    font-size: 40px;
    color: black;
}

h4 {
    font-size: 24px;
    margin: 0px;
    color: black;
    display: block
}

h4 small {
    font-size: 16px;
    color: #DD3E18;
    line-height: 24px;
    font-family: Goergia;
    font-weight: normal;
    font-family: Georgia;
}

.clear {
    margin: 0px;
    padding: 0px;
    content: ".";
    visibility: hidden;
    clear: both; 
    height: 0px;
}

.center {
    width: 704px;
    margin: 0px auto 0px auto;
    padding: 0px 32px 0px 32px;
}

header {
    margin: 0px 0px 100px 0px;
    padding: 0px;
    background-color: #082841;
}

#my-photo {
    background-image: url('../img/i.jpg');
    width: 384px;
    height: 384px;
    margin: 40px 160px 75px 160px;
    border-radius: 500px;
}

#about {
    color: white;
    width: 544px;
    margin: 0px 80px 145px 80px;
    font-size: 20px;
    color: #FFFFFF;
    line-height: 28px;
    text-align: center;
}

#expectations {
    position: relative;
}

#expectations p {
    padding: 0px 0px 0px 0px;
    position: absolute;
    bottom: 0px;
    font-family: Georgia;
    font-size: 16px;
    color: #000000;
    line-height: 24px;
}

#exp1, #exp2, #exp3, #exp4 {
    background-color: #e7f0ea;
    background-image: linear-gradient(-180deg, #E6F0F0 0%, #E9F0E6 100%);
    border-radius: 4px;
    float: left;
    padding: 30px;
    height: 160px;
    position: relative;
}

#exp1 {
    width: 322px;
    margin: 0px 10px 10px 0px;
}

#exp2 {
    width: 242px;
    margin: 0px 0px 10px 0px;
}

#exp3 {
    width: 242px;
    margin: 0px 10px 10px 0px;
}

#exp4 {
    width: 322px;
    margin: 0px 0px 10px 0px;
}

#my-works {
    margin: 100px 0px 0px 0px;
}

.work-left, .work-right {
    margin: 0px 0px 20px 0px;
    width: 704px;
    height: 147px;
}

.work-left h4, .work-right h4 {
    width: 320px;
    float: left;
}

.about-work-left, .about-work-right {
    width: 384px;
}

.about-work-right, .about-work-left  {
    margin: 0px;
    opacity: 0.8;
    padding: 0px;
    float: right;
    font-family: Georgia;
    font-size: 16px;
    color: #000000;
    line-height: 24px;
}

.work-left-img, .work-right-img {
    width: 704px;
    box-shadow: 0px 0px 20px #c0c0c0;
    margin: 0px 0px 150px 0px;
}

footer {
    margin: 0px 0px 0px 0px;
    padding: 20px 0px 20px 0px;
    background-color: #e6f0ef;
    background-image: linear-gradient(-180deg, #E6F0F0 0%, #E9F0E6 100%);
}

#info {
    width: 704px;
    position: relative;
    margin: 0px 0px 20px 0px;
}

#info p {
    width: 384px;
    float: left;
    margin: 0px 0px 10px 0px;
    line-height: 24px;
}

#links {
    width: 320px;
    float: right;
    position: relative;
}

#links ul {
    margin: 0px;
    padding: 0px;
}


#links li {
    list-style-type: none;
    padding: 0px 0px 0px 15px;
    font-family: Georgia;
    font-size: 16px;
    color: #DD3E18;
    line-height: 32px;
}

a {
    color: #e0583d;
    text-decoration: none;
}

a:hover {
    color: #e0583d;
    text-decoration: none;
}

a:visited {
    color: #e0583d;
    text-decoration: none;
}

#links li::before {
position: relative;
content: '';
border: 10px solid #cfd7d3;
height: 0px;
left: -15px;
top: -8px;
font-size: 0px;
}

form {
    margin: 0px;
    padding: 0px;
    width: 704px;
}

input {
    width: 676px;
    margin: 0px 0px 24px 0px;
    padding: 12px;
    font-size: 20px;
}

.formavvod {
    height: 24px;

}

textarea {
    margin: 0px 0px 24px 0px;
    padding: 12px;
    font-size: 20px;
    width: 676px;
    height: 174px;
}

.formaknopka {
width: 702px;
border: none;
background: #DD3E18;
border-radius: 4px;
border: 2px solid #e0583d;
color:  white;
font-size: 24px;
padding: 5px 10px 5px 10px;
}

.formaknopka:hover {
border: 2px solid white;
}